
.container {
    display: flex;
    flex-direction: column;
    font-family: "Roboto Slab", serif;
}

/*.gdpr-consent {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 10px;
    margin: 5px;
    border: 2px solid gray;
    border-radius: 15px 15px 15px 15px;
}*/

.gdpr-consent__description{
    display: flex;
    justify-content: center;
}

.gdpr-consent__choice{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    width: 100%;
}

.hide{
    display: none;
}

.show{
    display: block;
}

.gdpr-icon {
    display: flex;
    justify-content: center;
    font-size: 25px;
}

.gdpr-consent {
    z-index: 100000;
    margin-right: 5%;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    position: fixed;
    bottom: 0;
    right: 0;
    width: 30%;
    border-top: 1px solid #5e5c5c;
    border-right: 1px solid #5e5c5c;
    border-left: 1px solid #5e5c5c;
    border-radius: 25px 25px 0px 0px;
    background-color: #0c0b0b;
    color: white;
}

.gdpr-icon {
    margin-bottom: 10px;
}

.gdpr-content {
    display: none;
    flex-direction: column;
    transition: all 1s linear;
}

.gdpr-btn-outlined {
    padding: 15px !important;
    border: 2px solid white;
    border-radius: 20px;
    color: white;
    font-weight: 500;
    transition: all 0.5s linear;
    text-align: center;
    background-color: #0c0b0b;
}

    .gdpr-btn-outlined:hover {
        color: var(--main-bg-color);
        background-color: white;
    }

