:root {
    --main-bg-color: #0c0b0b;
}

* {
    margin: 0px;
    padding: 0px;
    font-family: "Roboto Slab", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

html {
    font-size: 14px;
    background-color: var(--main-bg-color);
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
    cursor: none;
}

main {
    background-color: #f3f4f1;
}

header {
    height: fit-content;
    background-color: var(--main-bg-color);
    color: #262626;
    position: relative;
    z-index: 100;
}

.navbar {
    background-color: var(--main-bg-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-brand {
    padding: 0px;
    text-decoration: none;
    color: #262626;
    font-weight: 800;
}

    .navbar-brand:hover {
        color: #181818;
    }

.nav-link {
    color: #262626;
    font-weight: 700;
}

    .nav-link:hover {
        color: #181818;
    }

.navbar-nav {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

.white-line {
    justify-content: center;
    opacity: 1;
    background-color: #5e5c5c;
    border: none;
    height: 1px !important;
    width: 95%;
    justify-self: center;
    margin: auto;
    margin-top: 10px;
}

.custom-cursor {
    z-index: 100000000000;
    position: fixed;
    width: 50px;
    height: 50px;
    background-color: black;
    border-radius: 50%;
    pointer-events: none;
    mix-blend-mode: difference;
    transform: translate(-50%, -50%);
    transition: transform 0.1s linear;
}

.btn-outlined {
    padding: 5px 15px;
    border: 2px solid white;
    border-radius: 20px;
    color: white;
    font-weight: 500;
    transition: all 0.5s linear;
    text-align: center;
}

    .btn-outlined:hover {
        color: var(--main-bg-color);
        background-color: white;
        cursor: none;
        text-decoration: none;
    }

form div label {
    font-weight: 700;
}

form div input,
form div textarea {
    background-color: #0c0b0b !important;
    border: 2px solid white !important;
    color: white !important;
    padding: 10px;
    border-radius: 5px;
    outline: none;
}

    form div input::placeholder,
    form div textarea::placeholder {
        color: rgba(255, 255, 255, 0.7);
    }

    form div input:focus,
    form div textarea:focus {
        border-color: #007bff !important;
        background-color: #181818 !important;
    }

.website-logo {
    width: 70px;
    fill: white;
    color: white;
}


@media (min-width: 768px) {
    html {
        font-size: 16px;
    }

    .navbar-nav {
        flex-direction: row;
    }

    .navbar-nav, .navbar-brand {
        animation: nav-slide 2s cubic-bezier(0.22, 1, 0.36, 1) both;
    }

    .website-logo {
        width: 70px;
        fill: white;
        color: white;
    }

    .btn-outlined {
        padding: 10px 20px;
        font-size: 1.2rem; 
    }
    .gdpr-consent {
        width: 30%;
    }
}

@keyframes nav-slide {
    0% {
        opacity: 0;
        transform: translateX(-30px);
    }

    60% {
        opacity: 1;
        transform: translateX(5px);
    }

    100% {
        transform: translateX(0);
    }
}
