@{
    ViewData["Title"] = "Home Page";
}

<div class="page">
    <section class="personalia page-section" id="page1">
        <div class="intro-content" >
            <div class="intro-text">
                <h1 class="person-name slide-in">welkom op mijn <span class="underlined-text">portfolio.</span></h1>
                <a class="btn-outlined" href="">OVER MIJ</a>
            </div>
            <div class="eye-container">
             <?xml version="1.0" encoding="UTF-8"?>
                <svg id="Layer_2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1384.6 612.13">
                  <defs>
                    <style>
                      .cls-1 {
                        fill: none;
                        stroke-width: 30px;
                      }

                      .cls-1, .cls-2 {
                        stroke: white;
                        stroke-miterlimit: 10;
                      }

                      .cls-3 {
                        fill: var(--main-bg-color);
                      }

                      .cls-2 {
                        fill: white;
                        stroke-width: 5px;
                      }
                    </style>
                  </defs>
                  <g id="Layer_2-2" data-name="Layer_2">
                    <g>
                      <path id="eyeback" class="cls-2" d="M1369.6,312.28c0,40.43-303.24,284.84-677.3,284.84S15,362.04,15,312.28,318.24,15,692.3,15s677.3,255.61,677.3,297.28Z"/>
                      <ellipse id="pupil" class="pupil cls-3" cx="692.3" cy="293.63" rx="220.81" ry="228.4"/>
                    </g>
                    <path id="eyefront" class="cls-1" d="M1369.6,312.28c0,40.43-303.24,284.84-677.3,284.84S15,362.04,15,312.28,318.24,15,692.3,15s677.3,255.61,677.3,297.28Z"/>
                  </g>
                </svg>
            </div>
        </div>
        <div class="scroll-down-indicator">
            <i class="fa-solid fa-chevron-down"></i>
        </div>

        <div class="social-media">
            <i class="fa-brands fa-linkedin"></i>
            <i class="fa-brands fa-github"></i>
        </div>
        <hr class="white-line" />
    </section>

    <div class="info-text">
        <img src="~/images/nosparkle.svg" class="head-text-logo" />
        <h1>hier zijn wat feitjes over <span class="underlined-text"> mij.</span></h1>
    </div>
    <div class="horizontal-section">
        <div class="sticky-wrapper">
            <div class="element-wrapper">
                <div class="element">
                    <div class="about-me outlined-card">
                        <div class="title">
                            <h1 class="title-text">wie ben ik.</h1>
                        </div>
                        <div class="yap-text">
                            ik ben daan...
                        </div>
                    </div>
                </div>
                <div class="element">
                    <div class="experience outlined-card">
                        <div class="title">
                            <h1 class="title-text">werkervaring.</h1>
                        </div>
                        <div class="experience-section">
                            <div class="experience-item">
                                <div class="experience-information">
                                    <h1>junior developer</h1>
                                    <span class="job-name">puurict</span>
                                </div>
                                <div class="experience-year">2024-2025</div>
                            </div>
                            <div class="experience-item">
                                <div class="experience-information">
                                    <h1>front end developer</h1>
                                    <span class="job-name">the driving force</span>
                                </div>
                                <div class="experience-year">2021-2022</div>
                            </div>
                            <div class="experience-item">more to come ;)</div>
                        </div>
                    </div>
                </div>
                <div class="element">
                    <div class="experience outlined-card">
                        <div class="title">
                            <h1 class="title-text">opleiding.</h1>
                           
                        </div>
                        <div class="experience-section">
                            <div class="experience-item">
                                <div class="experience-information">
                                    <h1>hbo-ict</h1>
                                    <span class="job-name">hogeschool windesheim</span>
                                </div>
                                <div class="experience-year">2024-heden</div>
                            </div>
                            <div class="experience-item">
                                <div class="experience-information">
                                    <h1>hbo-ict</h1>
                                    <span class="job-name">hogeschool van amsterdam</span>
                                </div>
                                <div class="experience-year">2022-2024</div>
                            </div>
                            <div class="experience-item">
                                <div class="experience-information">
                                    <h1>applicatie ontwikkelaar</h1>
                                    <span class="job-name">roc van amsterdam</span>
                                </div>
                                <div class="experience-year">2019-2022</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="element">
                    <div class="skills outlined-card">
                        <div class="title">
                            <h1 class="title-text">vaardigheden.</h1>
                        </div>
                        <div class="skills-section">
                            <div class="skill-item">
                                <div class="skill-title">html.</div>
                                <div class="skill-percentage">
                                    <div class="skill-one"></div>
                                </div>
                            </div>
                            <div class="skill-item">
                                <div class="skill-title">css.</div>
                                <div class="skill-percentage">
                                    <div class="skill-two"></div>
                                </div>
                            </div>
                            <div class="skill-item">
                                <div class="skill-title">javascript.</div>
                                <div class="skill-percentage">
                                    <div class="skill-three"></div>
                                </div>
                            </div>
                            <div class="skill-item">
                                <div class="skill-title">c#.</div>
                                <div class="skill-percentage">
                                    <div class="skill-four"></div>
                                </div>
                            </div>
                            <div class="skill-item">
                                <div class="skill-title">java.</div>
                                <div class="skill-percentage">
                                    <div class="skill-five"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="vertical-section">
                <div class="element-phone">
                    <div class="about-me outlined-card">
                        <div class="title">
                            <h1 class="title-text">wie ben ik.</h1>
                        </div>
                        <div class="yap-text">
                            ik ben daan...
                        </div>
                    </div>
                </div>
                <div class="element-phone">
                    <div class="experience outlined-card">
                        <div class="title">
                            <h1 class="title-text">werkervaring.</h1>
                        </div>
                        <div class="experience-section">
                            <div class="experience-item">
                                <div class="experience-information">
                                    <h1>junior developer</h1>
                                    <span class="job-name">puurict</span>
                                </div>
                                <div class="experience-year">2024-2025</div>
                            </div>
                            <div class="experience-item">
                                <div class="experience-information">
                                    <h1>front end developer</h1>
                                    <span class="job-name">the driving force</span>
                                </div>
                                <div class="experience-year">2021-2022</div>
                            </div>
                            <div class="experience-item">more to come ;)</div>
                        </div>
                    </div>
                </div>
                <div class="element-phone">
                    <div class="experience outlined-card">
                        <div class="title">
                            <h1 class="title-text">opleiding.</h1>

                        </div>
                        <div class="experience-section">
                            <div class="experience-item">
                                <div class="experience-information">
                                    <h1>hbo-ict</h1>
                                    <span class="job-name">hogeschool windesheim</span>
                                </div>
                                <div class="experience-year">2024-heden</div>
                            </div>
                            <div class="experience-item">
                                <div class="experience-information">
                                    <h1>hbo-ict</h1>
                                    <span class="job-name">hogeschool van amsterdam</span>
                                </div>
                                <div class="experience-year">2022-2024</div>
                            </div>
                            <div class="experience-item">
                                <div class="experience-information">
                                    <h1>applicatie ontwikkelaar</h1>
                                    <span class="job-name">roc van amsterdam</span>
                                </div>
                                <div class="experience-year">2019-2022</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="element-phone">
                    <div class="skills outlined-card">
                        <div class="title">
                            <h1 class="title-text">vaardigheden.</h1>
                        </div>
                        <div class="skills-section">
                            <div class="skill-item">
                                <div class="skill-title">html.</div>
                                <div class="skill-percentage">
                                    <div class="skill-one"></div>
                                </div>
                            </div>
                            <div class="skill-item">
                                <div class="skill-title">css.</div>
                                <div class="skill-percentage">
                                    <div class="skill-two"></div>
                                </div>
                            </div>
                            <div class="skill-item">
                                <div class="skill-title">javascript.</div>
                                <div class="skill-percentage">
                                    <div class="skill-three"></div>
                                </div>
                            </div>
                            <div class="skill-item">
                                <div class="skill-title">c#.</div>
                                <div class="skill-percentage">
                                    <div class="skill-four"></div>
                                </div>
                            </div>
                            <div class="skill-item">
                                <div class="skill-title">java.</div>
                                <div class="skill-percentage">
                                    <div class="skill-five"></div>
                                </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


