@{
    ViewData["Title"] = "Home Page";
}

<div class="page">
    <section class="personalia">

@*         <img class="person-logo" src="images/person-pasfoto.png">
 *@


        <div class="intro-content">
            <h1 class="person-name slide-in">Welkom.</h1>
            <p class="slide-in">Mijn naam is Daan, een gepassioneerde softwareontwikkelaar met een focus op webontwikkeling. Momenteel studeer ik aan Windesheim, waar ik mijn kennis en vaardigheden op het gebied van softwareontwikkeling verder ontwikkel. Ik ben altijd op zoek naar innovatieve oplossingen en vind het leuk om te werken met de nieuwste technologieën om gebruiksvriendelijke en efficiënte websites te bouwen.</p>
        </div>

        <div class="scroll-down-indicator">
            <i class="fa-solid fa-chevron-down"></i>
        </div>

    </section>

    <section class="profile">

        <section class="profile-content">

      @*       <div class="profile-content__category--hidden-mobile">
                <h3 class="profile-content__category-title">profiel</h3>
                <hr>
            </div>

            <div class="profile-content__element--hidden-mobile">
                <div class="profile-content__element-header">
                </div>
                <p class="profile-content__description">
                    daan
                <p>
            </div>
 *@

            <div class="profile-content__category">
                <h3 class="profile-content__category-title">werkervaring</h3>
                <hr>
            </div>

            <div class="profile-content__element">
                <div class="profile-content__element-header">
                    <h4 class="profile-content__title">junior c# developer</h4>
                    <p class="profile-content__period">apr 2024 - jan 2025</p>
                </div>
                <p class="profile-content__institute">PuurICT</p>
            </div>

            <div class="profile-content__category">
                <h3 class="profile-content__category-title">opleiding</h3>
                <hr>
            </div>
            <div class="profile-content__element">
                <div class="profile-content__element-header">
                    <h4 class="profile-content__title">hbo-ict</h4>
                    <p class="profile-content__period">sep 2024 - heden</p>
                </div>
                <p class="profile-content__institute">Hogeschool Windesheim</p>
            </div>
            <div class="profile-content__element">
                <div class="profile-content__element-header">
                    <h4 class="profile-content__title">hbo-ict</h4>
                    <p class="profile-content__period">sep 2022 - jan 2024</p>
                </div>
                <p class="profile-content__institute">Hogeschool van Amsterdam</p>
            </div>
        </section>

    </section>
    <section class="skills">
        swag
    </section>
</div>
