<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Showcase_Profielpagina</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/profielpagina.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/gdpr.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Showcase_Profielpagina.styles.css" asp-append-version="true" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                    <img src="~/images/nolids.svg" class="website-logo" id="websiteLogo"/>
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <i class="fa-solid fa-bars" style="color: #262626"></i>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Contact" asp-action="Me">contact</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Privacy">privacy</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="">
        <main role="main">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted p-3" id="page3">
        <div class="d-flex footer-content">
            <div class="footer-contact-information">
                <h5 class="footer-content-title">Contact Informatie.</h5>
            </div>
            <div class="footer-contact-form">
                <h5 class="footer-content-title">Stuur mij een bericht.</h5>
                <form>
                    <div class="row">
                        <div class="col contact-form">
                            <input type="text" class="form-control" placeholder="First name">
                            <input type="text" class="form-control" placeholder="Last name">
                            <textarea class="form-control"></textarea>
                        </div>
                    </div>
                    <button type="submit">Verstuur</button>
                </form>
            </div>
        </div>
        <div class="footer-bottom">
            <img src="~/images/loglo.svg" class="footer-logo" />
            <span>&copy; 2025 - Daan de Jager - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a></span>
        </div>

    </footer>

    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/gdpr.js" asp-append-version="true"></script>
    <script src="~/js/websiteswag.js" asp-append-version="true"></script>
    <script src="https://kit.fontawesome.com/fdf658cdca.js" crossorigin="anonymous"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
